 /* Encabezado general */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a2b4c; /* Azul oscuro */
  padding: 5px 40px ;
  color: white;
}

/* Logo y texto debajo */
.logo-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 15px;
  width: auto;
  height: 100px;
  opacity: 0.75;
}

.nombre-pais {
  font-family:'Parisienne', cursive;
  font-size:30px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  opacity: 0.75;
}

/* Menú a la derecha */
.menu {
  display: flex;
  gap: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.boton {
  font-family:'Parisienne', cursive;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.boton:hover {
  text-decoration: underline;
}

/* Bandera */
.linea-bandera {
  display: flex;
  height: 6px;
  margin:  0;
}

.franja {
  flex: 0.5px;
}

.amarillo {
  background-color: #FFD700;
}

.azul {
  background-color: #0033A0;
}

.rojo {
  background-color: #CE1126;
}

/*En general*/
.Contenido {
  margin-top: 6px;
  position:static;
  width: 200px;
  height: 80vh ; 
  background-color: #ffffff;
  padding: 10px;
}
.cuerpo {
  display: flex;
  height:100vh; 
}
.Contenido li {
  margin-bottom: 15px;
  margin-left: 20px;
  color: #13163f;
}

.cuadrodeinformacion {
  margin-top: 50px;
  max-width: 70%; /* Que no se limite */
  overflow: visible;
  margin-left: 25px;
  margin-right: 20px;
}
.Cultura{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Azul oscuro */
  padding: 5px 40px ;
  color: rgb(0, 0, 0);
}

/* Textos generales */
h2{
  font-size: 30px;
  font-family: inherit;
}
h3{
  font-size: 25px;
  font-family: inherit;
  margin: 5px;
}
h4{
  font-size: 15px;
  font-family: inherit;
  margin: 5px;
}
ul{
  margin-left: 45px;
  margin-bottom: 15px;
}
li{
  font-size: 15px;
  font-family: inherit;
  margin-bottom: 15px;
  color: #2c2c2c;
}
p {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #2c2c2c;
  margin: 10px 0 20px 0;
  text-align: justify;
}
/* Imagenes de artesania */
.photos{
  display: flex;
  justify-content:flex-start;
  align-items: center;
  min-height: 100vh;
 
}
.photos .gallery{
  max-width: 750px;
  display: grid;
  grid-template-columns: 300px 300px 300px ;
  grid-template-rows:300px 300px  300px 300px 300px;
  grid-gap:4rem;
}

.photos .gallery img{
  justify-content: center;
  object-fit: cover;
  border-radius: 10px;
}
.texto-img {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #333;
}

.photos .gallery .img-0 {
  grid-column: 1/3;

}
.photos .gallery .img-a {
  grid-column: 3/3;
  grid-row: 1/3 ;
}

.photos .gallery .img-f {
grid-column: 2/4;

}
.photos .gallery .img-g {
grid-column: 1/3 ;

}
.p-artesania{
  margin-top: 70px
}
/*Arquitectura*/
.arqui-1,
.arqui-2,
.arqui-3,
.arqui-4,
.arqui-5,
.arqui-6,
.arqui-7 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

/* Imagen y texto del mismo ancho */
.arqui-1 div,
.arqui-2 div,
.arqui-3 div,
.arqui-4 div,
.arqui-5 div,
.arqui-6 div,
.arqui-7 div {
  flex: 1;
  min-width: 300px;
}

/* Imágenes */
.arqui-1 img,
.arqui-2 img,
.arqui-3 img,
.arqui-4 img,
.arqui-5 img,
.arqui-6 img,
.arqui-7 img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

/* Orden inverso para los artículos con clase "reverse" */
.reverse {
  flex-direction: row-reverse;
}


/* Seccion Museos  */
.titulo2 {
  margin: 40px auto 10px auto;
  display: flex;
  font-size: 20px;
  justify-content: center;
  width: fit-content;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding:0 2rem;
}

.museo {
  text-align: center;
  margin-bottom: 40px;
  padding: 40px;
}

.titulo-museo {
  display: block;
  font-size: 2.2rem;
  font-weight:bold lighter;
  margin-bottom: 20px;
  color: #1a1a1a;
  text-decoration:underline;
}

.titulo-museo:hover {
  text-decoration:dotted;
  color: #0056b3;
}

.imagen-museo {
  width: 300px;
  height: 300px;
  object-fit:cover;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descripcion-museo {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #1a1a1a;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #004080;
  color: white;
  margin-top: 2rem;
}

/* Seccion Formulario */
.form-contacto {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #FFD700;
  box-shadow: 0 0 12px rgba(58, 0, 0, 0.1);
  border-radius: 40px;
  font-family: 'Segoe UI', sans-serif;
}

.form-contacto .form-titulo {
  text-align: center;
  color: #0033A0;
  margin-bottom: 35px;
  font-size: 35px;
  font-weight:bolder;
}

.form-contacto label {
  display: block;
  margin-bottom: 5px;
  color: #1a1a1a;
  font-weight: 600;
}

.form-contacto .input-contacto,
.form-contacto .textarea-contacto {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-contacto .input-contacto:focus,
.form-contacto .textarea-contacto:focus {
  outline: none;
  border-color: #FFD700;
}

.form-contacto .textarea-contacto {
  resize: vertical;
  min-height: 100px;
}

.form-contacto .btn-enviar {
  width: 100%;
  padding: 12px;
  background-color: #0033A0;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-contacto .btn-enviar:hover {
  background-color: #13163f;
}